<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add Blog - Blogies</title>
  </head>
  <body class="bg-dark text-light">
    <%- include('./partials/nav') %>

    <div class="container mt-5">
      <form action="/blog" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <input
            type="file"
            class="form-control"
            id="coverImage"
            name="coverImage"
            accept=".jpg, .jpeg, .png, .webp"
            required
          />
        </div>

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="title"
            required
          />
        </div>

        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea
            class="form-control"
            id="body"
            name="body"
            rows="5"
            aria-describedby="body"
            required
          >Enter your blog content here...</textarea>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>

    <%- include('./partials/footer') %>
    <%- include('./partials/script') %>
  </body>
</html>
